<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="sources" name="sources" schema="schema/sources.exsd"/>
   
   <extension point="com.xored.x5.agent.eclipse.sources">
      <source id="com.xored.x5.bundle" name="X5Bundle" base="com.xored.sherlock.eclipse.bundle">
         <field name="date">
            <reference id="com.xored.sherlock.sample.date"/>
         </field>
         <field
               name="thread">
            <reference
                  id="com.xored.sherlock.thread">
            </reference>
         </field>
      </source>
   </extension>
   <extension
         point="com.xored.x5.agent.eclipse.sources">
      <source
            base="com.xored.sherlock.tesla.aspect"
            id="com.xored.x5.tesla.aspect"
            name="X5Aspect">
         <field
               name="thread">
            <reference
                  id="com.xored.sherlock.thread">
            </reference>
         </field>
      </source>
   </extension>

</plugin>
