<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.xored.sherlock.core.eventProvider">
      <provider
            class="com.xored.sherlock.jface.JfacePolicyEventProvider"
            id="com.xored.sherlock.core.jface.log.provider">
      </provider>
   </extension>

</plugin>
