<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://xored.com/sherlock/jobs/1.0"
            class="com.xored.sherlock.jobs.jobs.JobsPackage"
            genModel="models/jobs.genmodel"/>
   </extension>
   <extension
         point="com.xored.sherlock.core.eventProvider">
      <provider
            class="com.xored.q7.profiling.core.JobsEventProvider"
            id="com.xored.sherlock.jobs.provider">
      </provider>
   </extension>
</plugin>
