<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="eventProvider" name="eventProvider" schema="schema/eventProvider.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://xored.com/sherlock/1.0"
            class="com.xored.sherlock.core.model.sherlock.SherlockPackage"
            genModel="model/sherlock.genmodel"/>
      <package
            class="com.xored.sherlock.core.model.sherlock.report.ReportPackage"
            genModel="model/report.genmodel"
            uri="http://xored.com/sherlock/report/1.0">
      </package>
   </extension>
   <extension
         point="com.xored.sherlock.core.eventProvider">
      <provider
            class="com.xored.sherlock.core.reporting.internal.EventLogEventProvider"
            id="com.xored.sherlock.core.log.provider">
      </provider>
      <provider
            class="com.xored.sherlock.core.reporting.internal.CoreSnaphotsProvider"
            id="com.xored.sherlock.core.core.snaphots">
      </provider>
   </extension>

</plugin>
