<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- just to test the x5 agent -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="X5 Agent Engineering Category"
            id="com.xored.x5agent.ui.commands.category">
      </category>
      <command
            name="Fail"
            categoryId="com.xored.x5agent.ui.commands.category"
            id="com.xored.x5agent.ui.commands.fail">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.xored.x5agent.ui.commands.fail"
            class="com.xored.x5agent.ui.handlers.FailHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="X5"
               mnemonic="X"
               id="com.xored.x5agent.menus.engineeringMenu">
            <command
                  commandId="com.xored.x5agent.ui.commands.fail"
                  mnemonic="F"
                  id="com.xored.x5agent.ui.menus.fail">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
